<%- include("templates/afterLoginHeader") %>
<div style="height: 120px"></div>
<div class="container py-4">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <% if (user.image) { %>
        <img
          src="<%= user.image %>"
          class="card-img-top"
          alt="Profile Picture"
        />
        <% } else { %>
        <img
          src="default.jpg"
          class="card-img-top"
          alt="Default Profile Picture"
        />
        <% } %>
        <div class="card-body">
          <h5 class="card-title fs-2"><%= user.username %></h5>
          <p class="card-text fs-4">
            <strong>Email:</strong>
            <%= user.email %>
          </p>
          <p class="card-text fs-4">
            <strong>Dietary Preferences:</strong>
            <%= user.dietary_preference %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fs-3">Change Password</h5>
          <form action="/profile/password" method="POST">
            <div class="form-group fs-4">
              <label for="password">New Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="********"
              />
            </div>
            <button type="submit" class="SaveBtn">Save Changes</button>
          </form>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title fs-3">Update Profile Picture</h5>
          <form
            action="/profile/image"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="form-group fs-4">
              <label for="profileImage">Choose Profile Picture</label>
              <input
                type="file"
                class="form-control-file mt-2"
                id="profileImage"
                name="profileImage"
              />
            </div>
            <button type="submit" class="uploadBtn">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="height: 60px"></div>

<style>
  .SaveBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(66, 135, 245, 0.8);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }

  .uploadBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(66, 135, 245, 0.8);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
</style>

<%- include("templates/afterLoginFooter") %>
